<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

   

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
	<link href="/static/css/signin.css" rel="stylesheet" />
    <script src="static/js/ie-emulation-modes-warning.js"></script>

  </head>
 
<body>

	<div class="container">
			<title>Teste Sentinela!</title>
			<div class="header clearfix">
				<nav>
				  <ul class="nav nav-pills pull-right">		
						{% if current_user.is_authenticated %}
						 <!-- <li class="welcome-message">Hey {{ session['user']}}!</li> -->
						 <li role="presentation"><a href="{{ url_for('recipes.index') }}">Ola  {{ current_user.email}} !</a></li>
						 <li role="presentation"><a href="{{ url_for('users.logout') }}">Logout</a></li>
						 <li role="presentation"><a href="/test">Teste</a></li>
						{% endif %}
						<li role="presentation"><a href="{{ url_for('recipes.index') }}">Home</a></li>
						<li role="presentation"><a href="https://github.com/hespozel/senti">Github</a></li>
				  </ul>
				</nav>
				<a href="/"><img src="static/images/logo.png" /></a>
		  </div>
	
		<div class="jumbotron" align="center">
				<form method="post" action="{{ url_for('recipes.test') }}">
		
				<h1 class="lead" align="center">Experimente Agora !</h1>
				<div class="col-sm-2" align="left"></div>
				<div class="col-sm-6" align="left">
							<div class="form-group">
									<textarea   style="overflow:auto;resize:none" id="qt" name="qt"  class="form-control" rows="5" cols="40" placeholder="Pergunta" required autofocus" >{{ qt }}</textarea>
							</div>
							<div class="form-group">
									<button class="btn btn-danger btn-block" align="left" >Classifique !</button>
							</div>
				</div>

				<div class="col-sm-4" align="left">
							<div class="form-group">
								<textarea  name="results" "form-control" style="overflow:auto;resize:none" readonly  rows="5" cols="20" placeholder="" required autofocus">{{ results  }}</textarea>
							</div>
				</div>
		</div>
	</div>
</body>
</html>
